<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Mineshare | Форум</title>

    <link href="https://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/tt-norms-medium" type="text/css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/7a9092486b.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap-grid.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <style>
        body {
            height: 100vh;
            background: #fff;
            background: url('../img/cloud-bg.png') repeat-x 0 / 90% auto;
            height: 100px;
            animation: cloud-bg 60s linear infinite;
            margin: 0;
        }

        @keyframes cloud-bg {
            0% {
                background-position: 0 -100px;
            }

            100% {
                background-position: 100vw -100px;
            }
        }

        .container {
            height: 100vh;
        }

        .row {
            height: 100vh;
        }

        .card {
            width: 100%;
            background-color: #F3F7FC;
            border-radius: 18px;
            padding-top: 25px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            vertical-align: middle;
        }

        .card .form {
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 25px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 25px;
            user-select: none;
        }

        .card #form_type .task {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
        }

        .card #form_type .option-1 {
            position: relative;
            background: #11B2FF;
            border-radius: 6px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            cursor: pointer;
        }

        .card #form_type .option-1:hover {
            background: #0E99E6;
        }

        .card #form_type .option-1 .title {
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-left: 20px;
        }

        .card #form_type .option-1 i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: #fff;
        }

        .card #form_type .option-2 {
            position: relative;
            background: #11B2FF;
            border-radius: 6px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .card #form_type .option-2:hover {
            background: #0E99E6;
        }

        .card #form_type .option-2 .title {
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-left: 20px;
        }

        .card #form_type .option-2 i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: #fff;
        }

        .card #form_type .back {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 60px;
            margin-left: 5px;
            cursor: pointer;
        }

        .card #form_type .back:hover {
            text-decoration: underline;
        }

        .card #form_type .back i {
            font-size: 10px;
            margin-right: 4px;
        }

        .card #form_name .task {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
        }

        .card #form_name .input-box {
            width: calc(100% - 34px);
            position: relative;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 11px;
            margin-bottom: 15px;
        }

        .card #form_name .input-box input {
            width: 100%;
            border: none;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            padding-inline: 0;
        }

        .card #form_name .input-box input:focus {
            outline: none;
        }

        .card #form_name .select-box {
            width: calc(100% - 28px);
            position: relative;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            padding-top: 10px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 11px;
            margin-bottom: 15px;
        }

        .card #form_name .select-box select {
            width: 100%;
            border: none;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            padding-inline: 0;
        }

        .card #form_name .select-box select:focus {
            outline: none;
        }

        .card #form_name .complete {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_name .complete:hover {
            text-decoration: underline;
        }

        .card #form_name .complete i {
            font-size: 10px;
            margin-left: 4px;
        }

        .card #form_name .back {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_name .back:hover {
            text-decoration: underline;
        }

        .card #form_name .back i {
            font-size: 10px;
            margin-right: 4px;
        }

        .card #form_description .task {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
        }

        .card #form_description textarea {
            width: calc(100% - 30px);
            min-height: 300px;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            resize: none;
        }

        .card #form_description textarea:focus {
            outline: none !important;
            border: 2px solid #11B2FF;
        }

        .card #form_description textarea::placeholder {
            font-family: 'TT Norms Pro', sans-serif;
            color: rgb(202, 202, 202);
        }

        .card .error {
            border: 2px solid #f67468 !important;
        }

        .card #form_description .complete {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_description .complete:hover {
            text-decoration: underline;
        }

        .card #form_description .complete i {
            font-size: 10px;
            margin-left: 4px;
        }

        .card #form_description .back {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_description .back:hover {
            text-decoration: underline;
        }

        .card #form_description .back i {
            font-size: 10px;
            margin-right: 4px;
        }

        .card #form_contact .task {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
        }

        .card #form_contact .input-box {
            width: calc(100% - 34px);
            position: relative;
            border: 2px solid #ebebeb;
            border-radius: 6px;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 11px;
            margin-bottom: 15px;
        }

        .card #form_contact .input-box .close {
            width: 22px;
            height: 22px;
            background: #ff4b4b;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .card #form_contact .input-box .close i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 14px;
        }

        .card #form_contact .input-box input {
            width: 100%;
            border: none;
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            padding-inline: 0;
        }

        .card #form_contact .input-box input:focus {
            outline: none;
        }

        .card #form_contact .add-input-box {
            width: 100%;
            height: 44px;
            position: relative;
            background: #11B2FF;
            border-radius: 6px;
            cursor: pointer;
        }

        .card #form_contact .add-input-box i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 18px;
        }

        .card #form_contact .complete {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 30px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_contact .complete:hover {
            text-decoration: underline;
        }

        .card #form_contact .complete i {
            font-size: 10px;
            margin-left: 4px;
        }

        .card #form_contact .back {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 30px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card #form_contact .back:hover {
            text-decoration: underline;
        }

        .card #form_contact .back i {
            font-size: 10px;
            margin-right: 4px;
        }

        .card .form-title {
            width: calc(100% - 155px);
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 15px;
            padding-left: 22px;
            padding-right: 22px;
            padding-bottom: 16px;
            margin-bottom: 15px;
        }

        .card .form-title div {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
        }

        .card .form-version {
            width: 50px;
            background: #11B2FF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 15px;
            padding-left: 22px;
            padding-right: 22px;
            padding-bottom: 16px;
            margin-bottom: 15px;
        }

        .card .form-version div {
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }

        .card .form-description {
            min-height: 200px;
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 15px;
            padding-left: 22px;
            padding-right: 22px;
            padding-bottom: 17px;
            margin-bottom: 15px;
        }

        .card .form-description div {
            color: #808080;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        .card .form-contact {
            background: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding-top: 15px;
            padding-left: 22px;
            padding-right: 22px;
            padding-bottom: 17px;
            margin-right: 15px;
        }

        .card .form-contact div {
            color: #3A4E57;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }

        .card .finish .complete {
            color: #49de3f;
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 40px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card .finish .complete:hover {
            text-decoration: underline;
        }

        .card .finish .complete i {
            font-size: 10px;
            margin-left: 4px;
        }

        .card .finish .back {
            color: rgb(198, 198, 198);
            font-family: 'TT Norms Pro', sans-serif;
            font-size: 15px;
            margin-top: 40px;
            margin-left: 5px;
            text-align: right;
            cursor: pointer;
        }

        .card .finish .back:hover {
            text-decoration: underline;
        }

        .card .finish .back i {
            font-size: 10px;
            margin-right: 4px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div id="form_test_support" class="col-2 d-none"></div>

            <div id="form_test" class="col-8 d-none" style="display: flex;align-items: center; justify-content: center;">
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <div class="form-title">
                            <div id="test_title"></div>
                        </div>
                        <div class="form-version">
                            <div id="test_version">1.20.X</div>
                        </div>
                    </div>
                    <div class="form-description">
                        <div id="test_description"></div>
                    </div>
                    <div id="test_contact" class="d-flex justify-content-start">

                    </div>
                    <div class="finish">
                        <div class="d-flex justify-content-between">
                            <div class="back" onclick="main();"><i class="fa-solid fa-arrow-left-from-line"></i>назад
                            </div>
                            <div class="complete" onclick="publish();">опубликовать<i class="fa-solid fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="form_main_support" class="col-4"></div>

            <div id="form_main" class="col-4" style="display: flex;align-items: center; justify-content: center;">

                <input id="type" name="type" class="d-none" type="text" value="" readonly required>
                <div class="card">
                    <form id="global" action="" method="post">
                        <div id="form_type" class="form">
                            <div class="task">Что вас интересует?</div>
                            <div class="option-1" onclick="changePage('name'); $('#type').val('1');">
                                <div class="title">Я хочу организовать команду</div>
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                            <div class="option-2" onclick="changePage('name'); $('#type').val('2');">
                                <div class="title">Я хочу найти команду</div>
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                            <div class="back" onclick="history.back()"><i
                                    class="fa-solid fa-arrow-left-from-line"></i>вернуться</div>
                        </div>

                        <div id="form_name" class="form d-none">
                            <div class="task">Заголовок</div>
                            <div class="input-box">
                                <input id="title" name="title" placeholder="Нуждаюсь в опытных билдерах.." value=""
                                    maxlength="55" required>
                            </div>
                            <div class="select-box">
                                <select id="version" name="version" required>
                                    <option value="">Выберите версию</option>
                                    <option>1.7.X</option>
                                    <option>1.8.X</option>
                                    <option>1.9.X</option>
                                    <option>1.10.X</option>
                                    <option>1.11.X</option>
                                    <option>1.12.X</option>
                                    <option>1.13.X</option>
                                    <option>1.14.X</option>
                                    <option>1.15.X</option>
                                    <option>1.16.X</option>
                                    <option>1.17.X</option>
                                    <option>1.18.X</option>
                                    <option>1.19.X</option>
                                    <option>1.20.X</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="back" onclick="changePage('type');"><i
                                        class="fa-solid fa-arrow-left-from-line"></i>назад</div>
                                <div class="complete" onclick="checkTitle();">далее<i
                                        class="fa-solid fa-arrow-right-from-line"></i></div>
                            </div>
                        </div>

                        <div id="form_description" class="form d-none">
                            <div class="task">Описание</div>
                            <textarea id="description" name="description"
                                placeholder="Я разрабатываю MMO-RPG проект, с магией, драконами.." required></textarea>
                            <div class="d-flex justify-content-between">
                                <div class="back" onclick="changePage('name');"><i
                                        class="fa-solid fa-arrow-left-from-line"></i>назад</div>
                                <div class="complete" onclick="checkDescription()">далее<i
                                        class="fa-solid fa-arrow-right-from-line"></i></div>
                            </div>
                        </div>

                        <div id="form_contact" class="form d-none">
                            <div class="task">Контакты</div>
                            <div id="contacts">
                                <div class="input-box">
                                    <input name="contacts" placeholder="Ссылка или @username" value="" required>
                                </div>
                            </div>
                            <div class="add-input-box" onclick="addContact();"><i class="fa-solid fa-circle-plus"></i>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="back" onclick="changePage('description');"><i
                                        class="fa-solid fa-arrow-left-from-line"></i>назад</div>
                                <div class="complete" onclick="test();">просмотр<i
                                        class="fa-solid fa-arrow-right-from-line"></i></div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        function changePage(page) {
            switch (page) {
                case "type":
                    $('#form_type').removeClass('d-none');
                    $('#form_name').addClass('d-none');
                    $('#form_description').addClass('d-none');
                    $('#form_contact').addClass('d-none');
                    break;
                case "name":
                    $('#form_type').addClass('d-none');
                    $('#form_name').removeClass('d-none');
                    $('#form_description').addClass('d-none');
                    $('#form_contact').addClass('d-none');
                    break;
                case "description":
                    $('#form_type').addClass('d-none');
                    $('#form_name').addClass('d-none');
                    $('#form_description').removeClass('d-none');
                    $('#form_contact').addClass('d-none');
                    break;
                case "contact":
                    $('#form_type').addClass('d-none');
                    $('#form_name').addClass('d-none');
                    $('#form_description').addClass('d-none');
                    $('#form_contact').removeClass('d-none');
                    break;
            }
        }

        function addContact() {
            $('#contacts').append('<div class="input-box"><input name="contacts" placeholder="Ссылка или @username" value="" required><div class="close" onclick="$(this).parent().remove();"><i class="fa-solid fa-xmark"></i></div></div>');
        }

        function main() {
            $('#form_main').removeClass('d-none');
            $('#form_main_support').removeClass('d-none');

            $('#form_test').addClass('d-none');
            $('#form_test_support').addClass('d-none');
        }

        function checkTitle() {
            if ($('#title').val() == "") {
                $('#title').parent().addClass('error');
            } if ($('#version').val() == "") {
                $('#version').parent().addClass('error');
            } else {
                $('#title').parent().removeClass('error');
                $('#version').parent().removeClass('error');
                changePage('description');
            } 
        }

        function checkDescription() {
            if ($('#description').val() == "") {
                $('#description').addClass('error');
            } else {
                $('#description').removeClass('error');
                changePage('contact');
            } 
        }

        function test() {
            $('#form_main').addClass('d-none');
            $('#form_main_support').addClass('d-none');

            $('#form_test').removeClass('d-none');
            $('#form_test_support').removeClass('d-none');

            $('#test_title').text($('#title').val());
            $('#test_version').text($('#version').val());
            $('#test_description').text($('#description').val());

            $('#test_contact').html('');
            var contacts = Object.values($('[name="contacts"]'));
            contacts.forEach(element => {
                if (element.value != undefined) {
                    $('#test_contact').append(`<div class="form-contact"><div>${element.value}</div></div>`);
                }
            });
        }

        function publish() {
            $('#global').submit();
        }
    </script>
</body>

</html>