<style>
    footer {
        position: relative;
        background: #fff;
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
        padding-top: 60px;
        padding-bottom: 0;
        margin-top: 50px;
    }

    footer .group {
        color: #3A4E57;
        font-family: 'TT Norms Pro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    footer .link {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        cursor: pointer;
    }

    footer .link a {
        color: #808080;
    }

    footer .link a:hover {
        color: #11B2FF;
    }

    footer .discord {
        width: 40px;
        height: 40px;
        position: relative;
        background: #5865F2;
        border: 2px solid #5865F2;
        border-radius: 8px;
        cursor: pointer;
    }

    footer .discord:hover {
        border: 2px solid #11B2FF;
    }

    footer .discord i {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
    }

    footer .copyright {
        border-top: 1px solid #d7d7d7;
        margin-top: 50px;
    }

    footer .copyright p {
        color: #afafaf;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-none d-md-block">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="group">Ссылки</div>
                        <div class="link"><a>Команда разработчиков</a></div>
                        <div class="link"><a>Подробности проекта</a></div>
                    </div>

                    <div>
                        <div class="group">Информация</div>
                        <div class="link"><a>Условия использования</a></div>
                        <div class="link"><a>Политика конфиденциальности</a></div>
                    </div>

                    <div>
                        <div class="group">Услуги</div>
                        <div class="link"><a>Партнёрские программы</a></div>
                        <div class="link"><a>Магазин мониторинга</a></div>
                    </div>

                    <div>
                        <div class="group">Помощь</div>
                        <div class="link"><a>Техническая поддержка</a></div>
                        <div class="link"><a>Сообщить о нарушении</a></div>
                    </div>

                    <div>
                        <div class="discord" onclick="window.open('https://discord.gg/YfBeHXay7m', '_blank')"><i
                                class="fa-brands fa-discord"></i></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between copyright">
                    <p class="d-inline-flex">© Craftomania, 2022-2024</p>
                    <p class="d-inline-flex">RU</p>
                </div>
            </div>
            <div class="col-6 d-block d-md-none">
                <div style="padding-left: 10px;">
                    <div class="group">Ссылки</div>
                    <div class="link"><a>Команда разработчиков</a></div>
                    <div class="link"><a>Подробности проекта</a></div>
                </div>
            </div>
            <div class="col-6 d-block d-md-none">
                <div style="margin-bottom: 50px;">
                    <div class="group">Информация</div>
                    <div class="link"><a>Условия использования</a></div>
                    <div class="link"><a>Политика конфиденциальности</a></div>
                </div>
            </div>
            <div class="col-6 d-block d-md-none">
                <div style="padding-left: 10px;">
                    <div class="group">Услуги</div>
                    <div class="link"><a>Партнёрские программы</a></div>
                    <div class="link"><a>Магазин мониторинга</a></div>
                </div>
            </div>
            <div class="col-6 d-block d-md-none">
                <div>
                    <div class="group">Помощь</div>
                    <div class="link"><a>Техническая поддержка</a></div>
                    <div class="link"><a>Сообщить о нарушении</a></div>
                </div>
            </div>
            <div class="col-12 d-block d-md-none">
                <div class="d-flex justify-content-between copyright">
                    <p class="d-inline-flex">© Craftomania, 2022-2024</p>
                    <p class="d-inline-flex">RU</p>
                </div>
            </div>
        </div>
    </div>
</footer>